hypothesis==6.24.2
numpy==1.22.3
sklearn
pandas==1.4.2
Flask
apscheduler
bokeh
pytest==7.1.1
html-testRunner==1.2.1
# conda install pytorch torchvision torchaudio cudatoolkit=10.2 -c pytorch
# conda install pyg -c pyg
# conda install captum -c pytorch
